body {
    display:flex;
    flex-direction: column;
}
main {
    display:flex;
    flex-direction: row;
    flex: auto;
}
article {
    flex : 2;
    overflow-y:auto;
    justify-content: space-between;
  
}
aside {
    flex: 1;
    overflow-y: auto;
}

h2+article {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

   